#activeEmployees::-webkit-scrollbar,
  #benchEmployees::-webkit-scrollbar {
    display: none;
  }
  
  #activeEmployees,
  #benchEmployees {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }